.info-users.row {
  margin-left: 0;
  margin-right: 0;
}
.row .col {
  margin: 0;
  padding: 0;
}

/*User*/
.info-users {
  background-color: #0e1d30;
  display: flex;
  align-items: center;
}
.row {
  --bs-gutter-x: 0;
}

/*Info Account*/
.info-account h2 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.users-name p,
.email-account p,
.phone-account p,
.password-account p,
.password-account p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
}

.users-name input,
.email-account input,
.phone-account input,
.password-account input,
.password-account input {
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
}

.btn-change-info-account button,
.btn-save-info-account button {
  margin-top: 20px;
  background-color: #b06ab3;
  color: #fff;
  width: 200px;
  height: 50px;
  border: none;
  transition: 0.5s ease;
}
.btn-change-info-account:hover button,
.btn-save-info-account:hover button {
  background: transparent;
  border: 2px solid #b06ab3;
  box-shadow: 0 0 10px 0 #b06ab3 inset, 0 0 10px 4px #b06ab3;
  border-radius: 0px;
}
.display-btn {
  display: none;
}

/** playlist Music **/
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.playlist h2 {
  font-size: 36px;
  color: #fff;

  margin-bottom: 20px;
}
.note-message {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.playlist-musicc {
  border: 2px solid #b06ab3;
  width: 500px;
}
.song {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-close-music {
  width: 30px !important;
}
.info-song h5 {
  color: #fff;
}

@media only screen and (min-width:1024px ) and (max-width:1366px)  {
    
    .playlist-musicc{
      width: 400px;
    }
    .info-account{
      margin-bottom: 115px;
      margin-top: 115px !important;
    }
}
@media only screen and  (max-width:1024px) {
  .playlist-musicc{
    width: 400px !important;
  }
  .playlist-music{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width:375px)  and (max-width: 812px){
  .playlist-musicc{
    width: 300px;
  }
  .song-sanbox {
    margin-left: auto !important;
}
}
@media only screen and (max-width:420px){
  .main-header-wrapper-top {
    flex-wrap: wrap;
    width: 103% !important;
}
  .playlist-musicc{
    width: 340px !important;
  }
}
@media only screen and (min-width:320px) and ( max-width:568px) {

  .users-name input, .email-account input, .phone-account input, .password-account input, .password-account input {
    width: 250px;
  }
  .playlist-musicc{
    width: 250px;
  }
}
@media only screen and (max-width:320px){
  .playlist-musicc{
    border: none;
    width: 300px !important;
  }
  .song-sanbox {
    margin-left: 10px;
}
.time p {
  width: 100px;
  
}
}